<h1>New Album Input Form</h1>
<form action="/albums" method="POST">
  <label for="album_title">Album Title:</label><br>
  <input type="text" id="album_title" name="title"><br>
  <label for="album_release_year">Album Release Year:</label><br>
  <input type="text" id="album_release_year" name="release_year"><br>
  <label for="album-artist_idr">Artist id:</label><br>
  <input type="text" id="album_artist_id" name="artist_id"><br><br>
  <input type="submit" value="Submit">
</form>