<html>
  <head></head>
  <body>
    <h1>New album created</h1>
    <p>Title: <%= @title %></p>
    <p>Release year: <%= @release_year %></p>
    <p>Artist id: <%= @artist_id %></p>
    <a href="/albums">View all albums</a>
  </body>
</html>